:root {
  --color-1: #FCE9D9;
  --color-2: #F2B06B;
  --color-3: #B05F20;
  --color-4: #594F4C;
  --color-5: #2F333B;
}

h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }
a { text-decoration-line: none; }
ul { list-style: none; }

body { margin: 0; background-color: var(--color-5); font-family: "IBM Plex Sans"; }
header { position: fixed; top: 0; width: 100vw; background-color: var(--color-4); }
section { padding: 0px 10vw; }
footer { padding: 20px 10vw; background-color: var(--color-5); color: whitesmoke; }

nav ul { margin: 0; padding: 0; }
nav li { float: left; }
nav a { color: whitesmoke; text-decoration: none; background-color: rgba(0,0,0,0); display: block; text-align: center; padding: 14px 25px; }
nav a:hover { background-color: var(--color-3); }

#intro {
  background-image: url(assets/background-images/intro.jpg);
  background-size: cover; background-position: center top;
  background-color: var(--color-5); height: 100vh; color: whitesmoke;
}
#intro h1 { margin: 0; padding-top: 45vh; }

#about { color: whitesmoke; padding-bottom: 100px; }
#about li { display: block; float: left; font-size: 2em; margin: 5px; }
.fab { color: whitesmoke; }
.fab:hover { color: var(--color-3); }

:root { 
  --start: brightness(0.6) grayscale(1); 
    --end: brightness(0.9) grayscale(1);
}

@keyframes onHover {
  from { filter: var(--start); }
    to { filter: var(--end); }
}

#showcase { display: flex; flex-flow: row wrap; background-color: var(--color-4); padding-bottom: 70px; padding: 0px; }
#showcase > * { flex: 1 1; min-width: 50vh; min-height: 300px; margin: 0px;}
#showcase h3 { color: whitesmoke; font-size: 3rem; text-align: center; }
#showcase p { color: whitesmoke; padding: 0 10%; }

#showcase .image {
  display: block; background-position: center center; background-size: cover;
  height: 300px; margin: 50px 0px 0px 0px; filter: var(--start);
}
#showcase .image:hover { animation-name: onHover; animation-duration: 0.5s; filter: var(--end); }

#showcase #gallery  .image { background-image: url("assets/background-images/gallery.jpg"); }
#showcase #web-apps .image { background-image: url("assets/background-images/web-apps.png"); }